<%- include("partials/header") %>


<section class="section">

<h1>
Contact Us
</h1>


<p>
Have a question? Send us a message.
</p>



<form class="form">


<input 
type="text"
placeholder="Your Name">


<input 
type="email"
placeholder="Your Email">


<textarea
placeholder="Your Message">
</textarea>


<button class="btn">
Send Message
</button>


</form>


</section>


<%- include("partials/footer") %>