<%- include("partials/header") %>


<section class="section">

<h1>
Frequently Asked Questions
</h1>



<div class="faq-item">

<h3>
What is Express?
</h3>

<p>
Express is a Node.js framework for building web applications.
</p>

</div>



<div class="faq-item">

<h3>
Why use EJS?
</h3>

<p>
EJS allows HTML pages to contain dynamic server-side data.
</p>

</div>



<div class="faq-item">

<h3>
Can this connect to a database?
</h3>

<p>
Yes. MongoDB, MySQL, or PostgreSQL can be added.
</p>

</div>


</section>


<%- include("partials/footer") %>